* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#form-box {
    display:flex;
    align-items: center;
    justify-content: center;
    border: 1px black solid;
}

#login-page-form {
    padding: 15px;
    margin: 10px;
    border: 1px black solid;
    border-radius:5px;
}

.username-box {
    border: 1px black solid;
    padding: 5px;
    margin: 10px;
}

.password-box {
    border: 1px black solid;
    padding: 5px;
    margin: 10px;
}

.username-label {
    border: 1px black solid;
    color: blue;
}