* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#form-box {
    display:flex;
    align-items: center;
    justify-content: center;
    border: 1px black solid;
}

#login-page-form {
    padding: 15px;
    margin: 10px;
    border: 1px blue solid;
    border-radius:5px;
    background-color: lightblue;
}

h3 {
    text-align: center;
}

.username-box {
    padding: 5px;
    margin: 10px;
}

#username {
    min-height: 30px;
    min-width: 150px;
}

#password {
    min-height: 30px;
    min-width: 150px;
}

.password-box {
    padding: 5px;
    margin: 10px;
}

#password-error-tip {
    color: red;
}

#submit_button {
    height: 35px;
    width: 64px;
}